<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Mi contacto:</h4>
                <%= link_to "", "https://github.com/daorejuela1", class: "btn btn-outline-light btn-social mx-1 fab fa-fw fa-github" %>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre Credifacil</h4>
                <p class="lead mb-0">
                    Es una herramienta totalmente gratuita para simular créditos, ninguna información del usuario es enviada a terceros.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; David Orejuela 2022</small></div>
</div>